@import "compass/css3";

/***********************
 * Essential Structure *
 ***********************/

.flexsearch--wrapper {
  height: auto;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: static;
}

.flexsearch--form {
  overflow: hidden;
  position: relative;
}

.flexsearch--input-wrapper {
  margin:auto;
  overflow: hidden;
}

.flexsearch--input-wrapper .labelnavbar {
  color:#f05f40;
  font-family: 'Helvetica', sans-serif;

}
.flexsearch--input {
  width: 100%;
}


/***********************
 * Configurable Styles *
 ***********************/

.flexsearchnavbar {
  padding: 0 25px 0 200px;
  /* Padding for other horizontal elements */
}


.flexsearch--input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: transparent;
  height: 60px;
  padding: 0 46px 0 10px;
  border-color: #f05f40;
  border-radius: 35px;
  /* (height/2) + border-width */
  border-style: solid;
  border-width: 5px;
  margin-top: 15px;
 
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.flexsearch--input2 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  height: 30px;
  width: 600px;
  padding: 0 46px 0 10px;
  border-color: #f05f40;
  border-radius: 10px;
  /* (height/2) + border-width */
  border-style: solid;
  border-width: 2px;
  margin-top: 15px;
 
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.flexsearch {
  margin:auto;
  /* Padding for other horizontal elements */
}

.flexsearch--submit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  margin-top: 0px;
  /* margin-top + border-width */
  margin-right: 5px;
  /* border-width */
  background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input2:focus {
  color:#000;
}
.flexsearch--input:focus.flexsearch--submit {
  color: #333;
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #f05f40;
}

input:-moz-placeholder {
  color: #888
}
