@(output: String, output2: String, output3: String, outputduet: String)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" type="text/css" href="@routes.Assets.versioned("stylesheets/creative.css")">
    <link rel="stylesheet" media="screen" type="text/css" href="@routes.Assets.versioned("stylesheets/animate.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")" type="text/css">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/searchbox.css")" type="text/css">
      <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/tabel.css")" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <title>Lagu ontology</title>
  </head>
  <body>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="/">Lagu Search Engine</a>
          <div class="flexsearch--wrapper">
            <form class="flexsearch--form" action="/search" method="get">
              <div class="flexsearch--input-wrapper">
                <input class="flexsearch--input2" type="search" name="lagu" placeholder="Ketik nama album, sepotong lirik, atau nama artis disini..">
                <input class="flexsearch--submit" type="submit" value="&#128269;"/><br>
                <input id="artist" type="radio" name="base" required value="artist">
                <label class="labelnavbar" for="artist">Berdasarkan Artis</label>
                <input id="album" type="radio" name="base" value="album">
                <label class="labelnavbar" for="album">Berdasarkan Album</label>
                <input id="lyric" type="radio" name="base" value="lyric">
                <label class="labelnavbar" for="lyric">Berdasarkan Lyric</label>
              </div>
            </form>
          </div>

        </div>
      </div>
        <!-- /.container-fluid -->
    </nav>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">We've got what you need!</h2>
            <hr class="light">
            <div class="text-faded" id="artis"></div>
            <div class="text-faded" id="timbre"></div>
              <div class="text-faded" id="albumku"></div>
              <div class="text-faded" id="lagu"></div>
              <div class="text-faded" id="duetku"></div>
          </div>
        </div>
      </div>
    </section>
    <script>
            /*var text = '{"employees":[' +
             '{"type":"John","value":"http://www.semanticweb.org/andre/ontologies/2016/4/untitled-ontology-101#Tulus" },' +
             '{"firstName":"Anna","lastName":"Smith" },' +
             '{"firstName":"Peter","lastName":"Jones" }]}';*/
            //untuk lagu
            var text = @{Html(output)};
            var lala=text.results;
            lili = text.results.bindings;
            flen = lili.length;

            //untuk timbre
            var text2 = @{Html(output2)};
            var lala2 = text2.results;
            lili2 = text2.results.bindings;
            flen2 = lili2.length;

            //untuk album
            var text3 = @{Html(output3)};
            var lala3 = text3.results;
            lili3 = text3.results.bindings;
            flen3 = lili3.length;

            var textduet = @{Html(outputduet)};
            var laladuet = textduet.results;
            liliduet = textduet.results.bindings;
            fduet = liliduet.length;

//            var tampung = '';
            var tableduet = '<table id="table" class="table table-hover table-mc-light-blue"><thead><th>Cocok duet dengan</th></thead><tbody>';
            var table = '<table id="table" class="table table-hover table-mc-light-blue"><thead><th>Lagu yang dibuat</th><th>Tahun Rilis Lagu</th></thead><tbody>';
            var tabletimbre = '<table id="table" class="table table-hover table-mc-light-blue"><thead><th>Timbre 1</th><th>Timbre 2</th><th>Timbre 3</th></thead><tbody>';
            var tablealbum = '<table id="table" class="table table-hover table-mc-light-blue"><thead><th>Album yang dibuat</th><th>Tahun Rilis Album</th></thead><tbody>';
            var heading;
            for (i =0; i<flen;i++) {
              heading = '<h1>' +lala.bindings[i].artist.value.replace('http://www.semanticweb.org/andre/ontologies/2016/4/untitled-ontology-101#', '').replace(/_/g, ' ')+'</h1>';
              table += '<tr><td>' + lala.bindings[i].lagu.value.replace('http://www.semanticweb.org/andre/ontologies/2016/4/untitled-ontology-101#', '').replace(/_/g, ' ') +
                      '</td><td>' + lala.bindings[i].releaselagu.value +
                      '</td></tr>';
  //              tampung += heading;
            }
            table += '</tbody></table>';

            for (i=0;i<fduet;i++) {
                tableduet += '<tr><td>' +
                                '<a href="/search?lagu='+
                        laladuet.bindings[i].duet.value.replace('http://www.semanticweb.org/andre/ontologies/2016/4/untitled-ontology-101#', '').replace(/_/g, ' ')+
                        '&base=artist">'+laladuet.bindings[i].duet.value.replace('http://www.semanticweb.org/andre/ontologies/2016/4/untitled-ontology-101#', '').replace(/_/g, ' ') +
                                '</td></tr>';
            }
            tableduet +='</tbody></table>';

            for (i=0;i<flen2;i++) {
                tabletimbre += '<tr><td>' +
                       lala2.bindings[i].timbre1.value.replace('http://www.semanticweb.org/andre/ontologies/2016/4/untitled-ontology-101#', '').replace(/_/g, ' ') +
                                '</td><td>' + lala2.bindings[i].timbre2.value.replace('http://www.semanticweb.org/andre/ontologies/2016/4/untitled-ontology-101#', '').replace(/_/g, ' ') +
                                '</td><td>' + lala2.bindings[i].timbre3.value.replace('http://www.semanticweb.org/andre/ontologies/2016/4/untitled-ontology-101#', '').replace(/_/g, ' ') +
                                '</td></tr>';
            }
            tabletimbre += '</tbody></table>';

            for (x=0;x<flen3;x++) {
                tablealbum += '<tr><td>' + '<a href="http://localhost:9000/search?lagu=' +
                        lala3.bindings[x].album.value.replace('http://www.semanticweb.org/andre/ontologies/2016/4/untitled-ontology-101#', '').replace(/_/g, ' ') +'&base=album">'+
                        lala3.bindings[x].album.value.replace('http://www.semanticweb.org/andre/ontologies/2016/4/untitled-ontology-101#', '').replace(/_/g, ' ') +
                        '</td><td>' + lala3.bindings[x].releasealbum.value +
                        '</td></tr>';
            }
            tablealbum += '</tbody></table>';

            document.getElementById("artis").innerHTML = heading;
            document.getElementById("lagu").innerHTML = table;
            document.getElementById("albumku").innerHTML = tablealbum;
            document.getElementById("timbre").innerHTML = tabletimbre;
            document.getElementById("duetku").innerHTML = tableduet;


    </script>

    <script src="@routes.Assets.versioned("js/jquery.js")"></script>
    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("js/jquery.easing.min.js")"></script>
    <script src="@routes.Assets.versioned("js/jquery.fittext.js")"></script>
    <script src="@routes.Assets.versioned("js/wow.min.js")"></script>
    <script src="@routes.Assets.versioned("js/creative.js")"></script>
</html>